body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  text-align: right;
}

.card {
  border: none;
  text-align: center;
  padding-top: 30px;
  margin-top: 50 px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
